# Ignorar todo el contenido de los directorios
/examenes/*
/entregas/*
/reports/*
/logs/*
/pruebas

# Asegurarse de que el directorio en sí esté incluido
!/examenes/
!/entregas/
!/reports/
!/logs/

/examenes/*
!/examenes/.gitkeep

/entregas/*
!/entregas/.gitkeep

/reports/*
!/reports/.gitkeep

# Ignorar los ficheros de configuración
.env
.devcontainer